.example-full-width {
     
    width: 100%;
}
.example-form {
   
    min-width: 100px;
    max-width: 400px;
    width: 100%;
    padding-top: 100px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
section{
    text-align: end;
    margin-right: 100px;
    padding-top: 20px;
  }
.body{
    margin:0px;
   background-color: rgb(71, 133, 112);
   height: 100vh;
   width: 100%;
}
