/* p{

    height: 10vh;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 10px;
} */
/* body{
    background-color:lightseagreen;
    background-repeat: no-repeat;
} */
/* h1{
    margin-top: .5em;
} */