<body>
  <div class="container text-center">
    <div class="card m-3 bg-primary text-white">
        <h1>Welcome to ICICI Bank!
        </h1>
      </div>
  </div>
  <!-- <div routerLink="/login">
    <section>
        <button mat-raised-button color="primary">Home</button>
    </section>
  </div> -->
  <form #postForm="ngForm" class="example-form"
   novalidate>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" name="name"  required />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          name="password"
          ngModel
          required
        />
      </mat-form-field>
      <button
        routerLink="/generate"
        class="btn btn-primary text-white"
        type="submit">
        Login
      </button>
    </form>
  </body>