.example-form {
  min-width: 100px;
  max-width: 200px;
  width: 100%;
  padding-top: 100px;
  margin-left: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.example-full-width {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
p {
  margin-left: 460px;
}
.btn {
  width: 100px;
  margin-left: 46px;
}
section{
  text-align: end;
  margin-right: 100px;
  
}
 /* div .card  {
  width: 100%;
  height: 100%;
}  */
h1{
  margin-top: .5em;
}
body{
  background-color: rgb(16, 76, 167);
}